*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    /* display: flex; 
    justify-content: center;
    align-items: center; */
    background-color: rgb(18, 12, 73);
    color: white;
    padding: 50px;

}
h1{
    color: yellow;
}
#gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 60px;
    flex-direction: column;
    gap: 30px;
    /* width: 50%; */
    background-color: rgb(189, 189, 7);
}



.gameCards{
    display: grid;
    grid-template-columns: repeat(5, 140px);
    grid-template-rows: repeat(2, cal(140px / 2 * 3));
    grid-gap: 16px;
    justify-content: center;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    cursor: pointer;

}

.item{
    width: 140px;
    height: 140px;
    background-color: rgb(127, 31, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    transform-style: preserve-3d;
    font-size: 5em;
    border-radius: 4px;
}
/* .card.flipped{
    /* background-color: aqua; */
    /* transform: rotateY(180deg); */

.item::after{
    position: absolute;
    background-color: rgb(127, 31, 4);
    content: "";
    inset: 0;
    transform: rotateY(0deg);
    transition: 0.25s;
    backface-visibility: hidden; 
   
    
}  
.item.cardOpen{
    transform: rotateY(0deg);
}
.cardOpen:after, .cardMatched:after{
    transform: rotateY(180deg);
}


.button{
    background-color: green;
    cursor: pointer;
    border-radius: 7px;
    width: 80px;
    height: 50px;
    font-size: 1em;
    color: white;
}
/* .card .front {
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);
}
.card .back {
    background-image: url("cards.jpg");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}  */
